.App {
  text-align: center;
  text-decoration-color: white;
}

.particles {
  position: fixed;
  top: 0.5;
  right: 0;
  bottom: 0;
  left: 3;
  z-index: -0.5;
}

.center {
  display: flex;
  justify-content: center;
}

